<div class="home-imgs">
  <img src="/medias/img/principale.jpg" class="img1" alt="nike-img">
  <div class="text">The grass is always greener elsewhere.</div>
  <div class="img2-container">
    <img class="img2" src="/medias/img/freelance.jpg" alt="Alt text hover" />
    <div class="text">Join uss...</div>
  </div>

</div>